<!-- <div class="">
    <app-admin-panel ></app-admin-panel>
</div>
<div class="detail ">
    <div class="empl">
        <app-teams-emp></app-teams-emp>
    </div>
    <div class="material">
        <app-materials></app-materials>
    </div>
</div> -->
<app-navbar></app-navbar>
<div class="dashboard">
<mat-grid-list cols="1" rowHeight="4:1">
    <mat-grid-tile class="part1">
        <app-cards></app-cards>
    </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="1" rowHeight="4:1">
    <mat-grid-tile class="part2">2</mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
        <app-charts></app-charts>
    </mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
        <app-teams-emp></app-teams-emp>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-materials></app-materials>
    </mat-grid-tile>
</mat-grid-list>
</div>