<app-navbar></app-navbar>
<div class="container text-center">
    <button class="btn btn-primary my-3" (click)="toggleWeekends()">toggle weekends</button>
    <full-calendar [options]="calendarOptions"></full-calendar>
</div>
  
<ng-template #template>
    <div class="modal-header bg-primary text-white">
        <h4 class="modal-title text-center ">Details</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {{title}} start on {{start | date}} and end in {{end | date}}
    </div>
</ng-template>

