<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed' : ''">
	<div class="logo-container">
		<button class="logo" (click)="toggleCollapse()">C</button>
		<div class="logo-text" *ngIf="collapsed">CHU</div>
		<button class="btn-close" *ngIf="collapsed" (click)="closeSidenav()">
			<i class="fal fa-times close-icon"></i>
		</button>
	</div>
	<ul class="sidenav-nav">
		<li class="sidenav-nav-item">
			<a class="sidenav-nav-link" 
			   routerLink="/department/{{idd}}/project/{{idp}}/details"
			>
				<i class="sidenav-link-icon" class="fa fa-home"></i>
				<span class="sidenav-link-text" *ngIf="collapsed">Dashboard</span>
			</a>
		</li>

		<li class="sidenav-nav-item">
			<a class="sidenav-nav-link" 
			   routerLink="/department/{{idd}}/project/{{idp}}/details/employees">
				<i class="sidenav-link-icon" class="fa fa-user"></i>
				<span class="sidenav-link-text" *ngIf="collapsed">Employees</span>
			</a>
		</li>

		<li class="sidenav-nav-item">
			<a class="sidenav-nav-link" 
			routerLink="/department/{{idd}}/project/{{idp}}/details/materials">
				<i class="sidenav-link-icon" class="fa fa-tools"></i>
				<span class="sidenav-link-text" *ngIf="collapsed">Materials</span>
			</a>
		</li>

		<li class="sidenav-nav-item">
			<a class="sidenav-nav-link" (click)="logout()">
				<i class="sidenav-link-icon" class="fa fa-sign-out"></i>
				<span class="sidenav-link-text" *ngIf="collapsed">Logout</span>
			</a>
		</li>
	</ul>
</div>