<h1 mat-dialog-title>New Tache</h1>

<div mat-dialog-content>
  <form [formGroup]="formTache">
    <mat-form-field appearance="outline">
      <mat-label>Tache Name</mat-label>
      <input formControlName="name" matInput placeholder="tache name" />
    </mat-form-field>


    <label id="example-radio-group-label">is Active</label>
    <mat-radio-group
      aria-labelledby="example-radio-group-label"
      class="example-radio-group"
      >
      <mat-radio-group aria-label="Select an option" class="example-radio-group" formControlName="isActive">
        <mat-radio-button value="True"><mat-icon>thumb_up</mat-icon></mat-radio-button>
        <mat-radio-button value="False"><mat-icon>thumb_down</mat-icon></mat-radio-button>
      </mat-radio-group>
    </mat-radio-group>
  </form>
</div>

<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close>close</button>
  <button
    style="margin-left: 10px"
    mat-raised-button
    color="primary"
    (click)="addTache()"
  >
  {{actionBtn}}
  </button>
</div>

