<app-navbar></app-navbar>

<div class="container">
  <div class="example-button-container">
    <button mat-mini-fab color="dark" class="icn btn btn-primary" aria-label="Example icon button with a plus one icon" (click)="openDialog()">
      <mat-icon>plus_one</mat-icon>
    </button>
  </div>
</div>
<div class="container  mt-5">
  <div class="row cr">
    <div class="col-sm-4 cr" *ngFor="let dep of deps">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">{{dep.name}}</h1>
          <a routerLink="/department/{{dep.id}}/projects" class="btn btn-primary">To Project</a>
        </div>
      </div>
    </div>
  </div>
</div>

