<app-navbar></app-navbar>

<div class="example-button-container">
<button mat-raised-button class="addBtn" color="primary" (click)="openDialog()">ADD DEPARTMENT</button>
</div>

<div id=container>
  <mat-card id="card" *ngFor="let dep of deps">
    <mat-card-title>{{dep.name}}</mat-card-title>
    <mat-card-subtitle>{{dep.created_at | date}}</mat-card-subtitle>
    <mat-card-actions>
      <a routerLink="/department/{{dep.id}}/details">
        <button mat-raised-button>About</button>
      </a>
      <a routerLink="/department/{{dep.id}}/projects">
        <button mat-raised-button color="primary">Explore</button>
      </a>
    </mat-card-actions>
  </mat-card>
</div>