<app-navbar></app-navbar>

<div class="example-button-container">
<!-- <button mat-raised-button class="addBtn" color="primary" (click)="openDialog()">ADD DEPARTMENT</button> -->
</div>

<div class="container d-flex justify-content-center">
  <div class="row">
  <mat-card class="example-card" *ngFor="let dep of deps">
    <!-- <img mat-card-image src="../../../assets/images/Logo_CHU.png" alt="Logo-CHU"> -->
    <mat-card-content>
      <mat-card-title>{{dep.name}}</mat-card-title>
      <mat-card-subtitle>{{dep.created_at | date}}</mat-card-subtitle>
    </mat-card-content>
    <mat-card-actions>
        <a routerLink="/department/{{dep.id}}/projects">
          <button mat-button color="primary" (click)="changeActivity()">Explore</button>
        </a>
        <a routerLink="/department/{{dep.id}}/details">
          <button mat-button>
            About <mat-icon>calendar_today</mat-icon> 
          </button>
        </a>
      </mat-card-actions>
  </mat-card>
  </div>
</div>