<h1 mat-dialog-title>{{actionTitle}} Material</h1>

<div mat-dialog-content>
  <form [formGroup]="formMaterial">
    <mat-form-field appearance="outline">
      <mat-label>Material Name</mat-label>
      <input formControlName="name" matInput placeholder="" />
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Price</mat-label>
        <input formControlName="prix" type="number" matInput placeholder="" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Quantity</mat-label>
        <input formControlName="quantity" type="number" matInput placeholder="" />
      </mat-form-field>
  </form>
</div>

<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close>close</button>
  <button
    style="margin-left: 10px"
    mat-raised-button
    color="primary"
    (click)="addMaterial()"
  >
  {{actionBtn}}
  </button>
</div>
