<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <app-cards></app-cards>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile [rowspan]=1>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            title
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>content</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [rowspan]=2>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            title
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>content</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [rowspan]=1>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            title
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>content</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    
  </mat-grid-list>
</div>
