<div fxLayoutAlign="center center" fxFlexFill class="main-div">
  <mat-card fxFlex="25">
    <mat-toolbar color="primary">Login Page</mat-toolbar>
    <form
      fxLayoutAlign="stretch"
      fxLayout="column"
      class="login-form"
      [formGroup]="form"
      (ngSubmit)="LoginHundler()"
    >
      <mat-form-field>
        <input matInput placeholder="Email" formControlName="email" />
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          type="password"
          placeholder="Password"
          formControlName="password"
        />
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">Login</button>
    </form>
  </mat-card>
</div>
