<h1 mat-dialog-title>New Team</h1>

<div mat-dialog-content>
    <form [formGroup]="teamForm">
        <mat-form-field appearance="outline">
            <mat-label>Leader</mat-label>
            <input matInput placeholder="" formControlName="chef_team">
        </mat-form-field>

        <mat-form-field appearance="outline">
        <mat-label>Number of employee</mat-label>
            <input matInput type="number" placeholder="" formControlName="nbr_employee">
        </mat-form-field>
    </form>
</div>

<div mat-dialog-actions [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>
        close
    </button>
    <button (click)="addTeam()" style="margin-left: 10px ;" mat-raised-button color="primary">
        {{actionBtn }}
    </button>
</div>