<h1 mat-dialog-title>Add project</h1>

<div mat-dialog-content>
    <form [formGroup]="projectForm">
        <mat-form-field appearance="outline">
            <mat-label>Project Name</mat-label>
            <input matInput placeholder="" formControlName="title">
        </mat-form-field>

    <!--    <mat-form-field appearance="fill">
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input matStartDate placeholder="Start date" formControlName="start">
              <input matEndDate placeholder="End date" formControlName="end">
            </mat-date-range-input>
            <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field> -->

          
      <!--  <mat-form-field appearance="outline">
            <mat-label>Start Date</mat-label>
            <input matInput type="date" placeholder="Start date" formControlName="start">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>End Date</mat-label>
            <input matInput type="date" placeholder="End date" formControlName="end">
        </mat-form-field>  -->

<mat-form-field class="example-form-field" appearance="fill">
  <mat-label>Enter a date range</mat-label>
  <mat-date-range-input
    [formGroup]="projectForm"
    [rangePicker]="picker"    
    [comparisonStart]="projectForm.value.start"
    [comparisonEnd]="projectForm.value.end">
    <input matStartDate placeholder="Start date" formControlName="start">
    <input matEndDate placeholder="End date" formControlName="endd">
  </mat-date-range-input>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
  <mat-date-range-picker #picker></mat-date-range-picker>
</mat-form-field>



            <mat-form-field appearance="fill">
            <mat-label>Team</mat-label>
            <mat-select [(value)]="selectedTeam" formControlName="team">
                <mat-option (click)="openDialogTeam()">---NEW TEAM---</mat-option>
                <mat-option *ngFor="let team of teams" [value]="team.id">
                    {{team.chef_team}}
                </mat-option>
            </mat-select>
            </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description"></textarea>
        </mat-form-field>
<!-- 
        <mat-form-field appearance="fill">
            <mat-label>Status</mat-label>
            <mat-select [(value)]="selectedStatus" formControlName="isActive">
                <mat-option *ngFor="let option of options" [value]="option.id">
                    {{option.title}}
                </mat-option>
            </mat-select>
            </mat-form-field> -->

    </form>
</div>

    <div mat-dialog-actions [align]="'end'">
        <button mat-raised-button color="warn" mat-dialog-close>
            close
        </button>
        <button style="margin-left: 10px ;" mat-raised-button color="primary" (click)="addProject(selectedTeam, selectedStatus)">
            {{actionBtn }}
        </button>
    </div>
