
/*////////////////////////////////////////////////////////////*/
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
section {
	font-family: "Roboto", sans-serif;
}

.main-content {
	padding-top: 30px;
	padding-bottom: 70px;
	padding-left: 30px;
}

.stat-card {
	background: #fff;
	padding: 25px;
	margin-bottom: 25px;
	border-radius: 5px;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	transition: all 0.2s;
}
.stat-card:hover {
	transform: translateY(-2px);
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.stat-card__icon-circle i {
	font-size: 30px;
	color: #007bff;
}
.stat-card__icon-circle {
	height: 60px;
	width: 60px;
	border-radius: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.stat-card_icon.stat-cardicon--success .stat-card_icon-circle {
	background: rgba(40, 167, 69, 0.2);
}
.stat-card_icon.stat-cardicon--success .stat-card_icon-circle i {
	color: #28a745;
}
.stat-card_icon.stat-cardicon--danger .stat-card_icon-circle {
	background: rgba(220, 53, 69, 0.2);
}
.stat-card_icon.stat-cardicon--danger .stat-card_icon-circle i {
	color: #dc3545;
}
.stat-card_icon.stat-cardicon--warning .stat-card_icon-circle {
	background: rgba(255, 193, 7, 0.2);
}
.stat-card_icon.stat-cardicon--warning .stat-card_icon-circle i {
	color: #ffc107;
}
.stat-card_icon.stat-cardicon--primary .stat-card_icon-circle {
	background: rgba(0, 123, 255, 0.2);
}
.stat-card_icon.stat-cardicon--primary .stat-card_icon-circle i {
	color: #007bff;
}

img, svg {
    vertical-align: middle;
    width: 61%;
}