<section class="main-content">
    <div class="container">
        <h1 class="text-center text-uppercase">Analytics and Statistics Card</h1>
        <div class="row">
            <div class="col-sm-4">
                <div class="stat-card">
                    <div class="stat-card__content">
                        <p class="text-uppercase mb-1 text-muted">Tache</p>
                        <h2>21,254</h2>
                        <div>
                            <span class="text-danger font-weight-bold mr-1"><i class="fa fa-arrow-down"></i> -5%</span> 
                            <span class="text-muted">vs last 28 days</span>
                        </div>
                    </div>
                    <div class="stat-card_icon stat-card_icon--primary">
                        <div class="stat-card__icon-circle image">
                            <img src="../../../../assets/images/liste-de-taches.png" alt="tache">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="stat-card">
                    <div class="stat-card__content">
                        <p class="text-uppercase mb-1 text-muted">Employees</p>
                        <h2>{{lengthOfEmp}}</h2>
                        <div>
                            <span class="text-danger font-weight-bold mr-1"><i class="fa fa-arrow-down"></i> -5%</span> 
                            <span class="text-muted">vs last 28 days</span>
                        </div>
                    </div>
                    <div class="stat-card_icon stat-card_icon--primary">
                    <div class="stat-card__icon-circle image">
                        <img src="../../../../assets/images/grue.png" alt="grue">
                    </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="stat-card">
                    <div class="stat-card__content" >
                        <p class="text-uppercase mb-1 text-muted">Material Costs</p>
                        <h2>{{ getTotal() }}</h2>
                        <div>
                            <span class="text-danger font-weight-bold mr-1"><i class="fa fa-arrow-down"></i> -5%</span> 
                            <span class="text-muted">vs last 28 days</span>
                        </div>
                    </div>
                    <div class="stat-card_icon stat-card_icon--primary">
                    <div class="stat-card__icon-circle">
                        <i class="fa fa-users"></i>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>